@import 'util/defaults';
@import 'util/fonts';

$content-size: 3rem;
$max-content-size:5rem;
$fontSize: 15px;

body{
    background-color: $light-gray;
}

main {
    max-width: 100vw;
    min-width: 95vw;
    max-height: 100vh;
    min-height: 95vh;

    display: flex;
    align-items: stretch;
}
.content {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.qr-root {
    background-color: $white;
    max-width: 15%;
    padding: 1%;
    border-radius: 5%;
    
    text-align: center;
    object-fit: cover;

    display: grid;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .qr-root {
        max-width: 80%;
    }
}
